body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 6em; /* Relleno superior */
}

h1 {
	font-size: 3em;
	line-height: 1.5em;
	margin: 5% 0;
	text-align: center;
	font-weight: 2em;
}

p {
	font-size: 1em;
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 6em; /* ~ doble que padding right 
					y line height en navigation  */
	
	width: 100%; /* cabecera ocupando el ancho completo */
	left: 0; /* cabecera al lado izquierdo */
	top: 0; /* cabecera pegada arriba */
	position: fixed; /* cabecera con posición fija */
	box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
}	
	#main-header a {
		color: white;
	}

.menu-icon {
		display: none;
}
		
.container {
	width: 65%;
	max-width: 100%;
	margin: auto;
}
	
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

/*
 * Logo
 */
.logo {
	display: block;
	font-size: 1em;
	text-decoration: none;
}				
		
/*
 * Navegación
 */
.navigation {
	float: right;
}
	.navigation ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
		.navigation ul li {
			display: inline-block;
			line-height: 4em;
		}
			
			.navigation ul li a {
				display: block;
				padding: 1em;
				text-decoration: none;
				border-radius: 0.1%;
				font-size: 1em;
				text-align: center;
			}
			
				.navigation ul li a:hover {
					background: #4a4a4a;
				}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 3%; /* ~ mitad de margin-top */
	margin-top: 6%;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
	
@media only screen and (max-width: 1500px) {
.container {
	width: 85%;
	max-width: 100%;
	margin: auto;
}

img {
	max-width: 100%;
	height: auto;
}

#main-header {
	height: 6em;
}

.logo{
	font-size: 1.1em;
	padding-top: 2em;
	padding-left: 2em;
}

.logo-nav-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.menu-icon{
	display: block;
	padding-top: 2em;
	padding-right: 2em;
	font-size: 1.1em;
	cursor: pointer;
	background: none;
	border: none;
	color: #f2f2f2;
}

/*
 * Navegación
 */
.navigation {
	width: 100%;
}
	.navigation ul {
		display: none;
	}

	.navigation ul.show {
		display: block;
		list-style: none;
		background: #333;
		line-height: 1.5em;
		width: 100%;
	}
	
		.navigation ul li {
			display: block;
			line-height: 0.25em;
		}
			
			.navigation ul li a {
				display: block;
				line-height: 1.5em;
				font-size: 1em;
			}

#main-footer {
	padding: 1em;
	margin-top: 2em;
	font-size: 1em;
}

}

@media only screen and (max-height: 320px) {
#main-header {
	position: absolute;
	top: 0;
}

}
